.wrap {
  .step {
    display: flex;
    justify-content: center;
    /deep/.el-step{  
      // width: 600px !important;
      .el-step__main {
        .el-step__title {
          font-size: 14px;
        }
      }
    }
    /deep/.el-steps--horizontal{  
      width: 600px ;
    }
  }
  padding: 20px;
  /deep/ .el-result {
    padding: 0;
    .el-result__extra {
      width: 100%;
    }
  }

  .wrap_box {
    text-align: center;
    .moneyNum {
      font-size: 16px;
    }
  }
  .wrap_info {
    margin-top: 40px;
    .item {
      display: flex;
      align-items: center;
      border: 1px solid #e7e3e3;
      height: 60px;

      .title {
        background-color: #eee;
        width: 130px;
        height: 100%;
        line-height: 60px;
        padding-left: 12px;
      }
      .text {
        padding-left: 12px;
        .pencent {
          text-decoration: line-through;
          color: #e2e2e2;
        }
      }
      .count_text {
        font-weight: bold;
        padding-left: 12px;
      }
    }
  }
  .wrap_btn {
    margin: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 28px;
    .btn {
      width: 130px;
      height: 28px;
      border: 1px solid #eee;
      font-size: 15px;
      border-radius: 5px;
    }
    .btn_ok {
      background-color: #000;
      color: #fff;
      margin-left: 20px;
    }
  }
}
