//官⽹主⾊调
$color-brand-1 : #C6A34F;    // 品牌主⾊1
$color-brand-2 : #059C5D;    // 品牌主色2

//辅助色
$color-error: #EB3D3D; // 错误提示 
$color-tips: #FF8315; //警告、提示
$color-trans: #059C5D1A; // 表单划过
$color-hover: #22B678; //鼠标移上
$color-active: #007E49; //鼠标点击
//中性色
$color-bg: #F5F5F5; //背景色
$color-break-line: #F0F0F0; //分割线
$color-header: #F3F3F3; //表头
$color-stroke: #D9D9D9; //描边
$color-scroll-bar: #CCCCCC; //滚动条
$color-disabled: #BFBFBF; //禁用 

//文字用色
$color-text-title1: #1B1B1B; //标题⽂字、⼀级标题、 列表主要⽂字
$color-text-title2: #666666;  //⽤于⼆级标题和⻓⽂ 本⽂字颜⾊
$color-text-title3: #999999; // ⽤于三级⽂字、备注 ⽂字、灰度⾊彩图标颜⾊
$color-text-tips: #B3B3B3; //输⼊框内预置提示⽂字
$color-text-disabled: #BFBFBF; //不可⽤状态

// ----------------------------------------------------------------------
$color-primary: #C6A34F;    // 主色调
$color-secondary: #059C5D;  // 副色调
$gray1: #1b1b1b;   // 一级标题
$gray2: #666666;   // 二级标题
$gray3: #999999;   // 三级标题 备注

$table-gray: #c9c9c9;   // 通用表格边框灰
$table-bg: #F2F2F2;   // 通用表格背景灰

// ----------------------------------------------------------------------

//全局用色
$color-overall-one:#ccc;
$color-overall-two:#999999;
$color-overall-three:#e5e5e5;
$color-overall-four:#f5f5f5;


// //背景
$color-bg-white: #FFFFFF;
$color-bg-light-gray: #f5f5f5;