.bank-main{
    // background-color: #b5b087;
    height: calc(100vh - 146px);
    padding: 0 24px;
    position: relative;
    &-silder{
        float: left;
        width: 120px;
        height: 100%;
        background-color: aquamarine;
    }
    &-content{
        background-color: antiquewhite;
        margin-left: 120px;
        height: 100%;
        .cont{
            overflow: auto;
        }
    }
}