.wrap{
    width: 100%;
    // position: absolute;
    letter-spacing: -0.3px;
    height: 70px;
    line-height: 70px;
    background-color: #373737;
    overflow: hidden;
    color: #fff;
    text-align: center;
    left: 0;
    bottom: 0;
    z-index:9999;
}